name: Cargo Test and Format Check

on:
  push:
  pull_request:

env: 
  CARGO_TERM_COLOR: always

jobs:
  build_and_test:
    name: Rust project - latest
    runs-on: ubuntu-latest
    strategy:
      matrix:
        toolchain:
          - stable

    steps:
      - uses: actions/checkout@v4
      - run: rustup update ${{ matrix.toolchain }} && rustup default ${{ matrix.toolchain }}
      - run: rustup target add wasm32-unknown-unknown
      - run: cargo build -p kanash
      - run: cargo build --target wasm32-unknown-unknown -p kanash-ratzilla
      - run: cargo test --verbose --exclude kanash-ratzilla
      - run: cargo fmt --check
